.contentTitle {
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 30px;
}

.newComment_textarea {
  resize: none;
  width: 100%;
  height: 170px;
  border: 1px solid #E6EDF6;
  border-radius: 8px;
  padding: 25px;
  margin-bottom: 25px;
}