@import "@/lib/variables.scss";

.formWrapper {
  padding: 50px 60px;
  border: 1px solid #ffe7d2;
  border-radius: 13px;
  background: #fff9f3;
}

.title {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;

  input {
    border: 1px solid #e6edf6;
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 14px;
  }
}

.text {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 20px;

  textarea {
    height: 360px;
    border: 1px solid #e6edf6;
    border-radius: 8px;
    padding: 15px 25px;
    font-size: 14px;
    resize: none;
  }
}

.banner {
  font-size: 18px;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;  
}

.success {
  margin-top: 15px;
}

@media (max-width: $sm) {
  .formWrapper {
    padding: 25px 30px;
  }

  .title {
    gap: 5px;
    margin-bottom: 10px;
  }
  
  .text {
    gap: 5px;
    margin-bottom: 10px;

    textarea {
      height: 260px;
    }
  }

  .imageWrapper {
    gap: 5px;
  }

  .banner {
    flex-wrap: wrap;
  }

  .addText {
    flex: 1 0 100%;
  }
}