@import "@/lib/variables.scss";

.post {
  display: flex;
  align-items: flex-start;
  gap: 40px;
}

.postImage {
  flex: 0 0 41.2%;
  padding-top: 41.2%;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2),
    0 22px 27px -20px rgba(7, 10, 25, 0.2);
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}

.postBox {
  flex: 1 1 42%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.postTitle {
  font-weight: 700;
  font-size: 34px;
  text-transform: capitalize;
  line-height: 1.45;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.postInfo {
  display: flex;
  justify-content: space-between;
}

.postInfo_author {
  color: #f43676;
  font-size: 14px;
  font-weight: 600;
}

.postInfo_date {
  color: #4d6385;
  font-size: 14px;
  margin-left: 12px;
}

.postText {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media (max-width: $lg) {
  .post {
    flex-direction: column;
  }

  .postImage {
    width: 100%;
  }
}
